<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <server>
      <id>adikarthikgupta</id>
      <username>adikarthikgupta</username>
      <password>K7FpQhzHCIFUEDONcD6ggrwJb4tgbdDOmHaiK9pJsg1neUb3vcTZJQQJ99AKACAAAAA8yzi4AAASAZDOnOsr</password>
    </server>
  </servers>
</settings>
